* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0px auto;
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(20px);
  }
}
footer {
  background-color: #1a1a1a;
}
footer .footer_top {
  border-bottom: 1px solid #2f2f2f;
  padding: 70px 0;
}
footer .footer_top .footer_top_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 992px) {
  footer .footer_top .footer_top_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  footer .footer_top .footer_top_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer_top .footer_top_content .footer_link h3 {
  color: white;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}
footer .footer_top .footer_top_content .footer_link ul {
  padding: 0;
}
footer .footer_top .footer_top_content .footer_link ul li {
  text-decoration: none;
}
footer .footer_top .footer_top_content .footer_link ul li a {
  width: 100%;
  display: inline-block;
  color: #999999;
  font-size: 16px;
  padding: 5px 0;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer_top .footer_top_content .footer_link ul li a:hover {
  color: #87b106;
  transform: translateX(20px);
}
footer .footer_mid {
  color: #999999;
  padding: 35px 0;
  border-bottom: 1px solid #2f2f2f;
}
footer .footer_mid .footer_mid_content {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 170px repeat(3, 1fr);
}
@media screen and (max-width: 992px) {
  footer .footer_mid .footer_mid_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  footer .footer_mid .footer_mid_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer_mid .footer_mid_content .footer_mid_image {
  margin: 10px 0;
  padding-right: 20px;
  border-right: 2px solid #fff;
}
@media screen and (max-width: 576px) {
  footer .footer_mid .footer_mid_content .footer_mid_image {
    border: 1px none;
  }
}
footer .footer_mid .footer_mid_content .footer_mid_image img {
  width: 100%;
  max-width: 212px;
}
footer .footer_mid .footer_mid_content .foodter_mid_item {
  margin: 20px 0;
  margin-left: 20px;
  display: flex;
}
footer .footer_mid .footer_mid_content .foodter_mid_item i {
  color: #87b106;
  font-size: 24px;
  line-height: 1;
  padding-right: 15px;
}
footer .footer_mid .footer_mid_content .foodter_mid_item p {
  margin: 0;
}
footer .footer_mid .footer_mid_content .foodter_mid_item p span {
  font-weight: 900;
}
footer .footer_mid .footer_mid_content .foodter_mid_item p a {
  color: #999999;
}
footer .footer_mid .footer_mid_content .foodter_mid_item p a:hover {
  color: #87b106;
}
footer .footer_bot {
  text-align: center;
  padding: 48px;
}
footer .footer_bot .footer_bot_content .footer_bot_link {
  padding: 27px;
}
footer .footer_bot .footer_bot_content .footer_bot_link a {
  color: #888888;
  line-height: 1;
  font-size: 14px;
  padding-right: 14px;
  margin-right: 10px;
  border-right: 1px solid #999999;
  transition: all 0.5s;
}
footer .footer_bot .footer_bot_content .footer_bot_link a:hover {
  color: #87b106;
}
footer .footer_bot .footer_bot_content .footer_bot_link .final_a {
  border-right: none;
}
footer .footer_bot .footer_bot_content .copyright {
  color: #999999;
}
footer .footer_bot .footer_bot_content .copyright b {
  color: white;
}
footer .footer_bot .footer_bot_content .copyright i {
  color: red;
}
#scroll-top {
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 9999;
  transition: 0.4s;
  border-radius: 50%;
  background-color: #87b106;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: white;
  opacity: 0;
}
#scroll-top i {
  line-height: 50px;
  color: #fff;
  font-size: 25px;
}

.register {
  padding: 80px;
}
.register #register_form {
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 23px 30px 30px;
}
.register #register_form h2 {
  font-weight: 700;
  font-size: 24px;
}
.register #register_form label {
  margin-top: 20px;
  display: block;
}
.register #register_form span {
  color: red;
}
.register #register_form input {
  color: #555555;
  border: 1px solid #999999;
  padding: 12px 10px;
  width: 100%;
  font-size: 14px;
  background: #f7f7f7;
  margin-top: 5px;
}
.register #register_form .register_password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.register #register_form .register_gender legend {
  font-size: 20px;
  font-weight: 700;
  display: inline;
  margin-top: 20px;
}
.register #register_form .register_gender .register_radio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.register #register_form .register_gender .register_radio .register_radio_item {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.register #register_form .register_gender .register_radio .register_radio_item label {
  margin: 0;
}
.register #register_form .register_gender .register_radio .register_radio_item input {
  margin: 0;
}
.register #register_form button {
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: #87b106;
  padding: 10px 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.register #register_form button:hover {
  background-color: #1a1a1a;
}/*# sourceMappingURL=register.css.map */