@import "./base/base";
@import "./helpers/variable";
@import './helpers/animation';
@import './helpers/mixin';
@import "./pages/header";

@import "./pages/footer";
@import "./pages/backtotop";

.register {
  padding: 80px;

  #register_form {
    margin: 0 auto;
    max-width: 600px;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 23px 30px 30px;
    h2 {
      font-weight: $fw-7;
      font-size: $fs-3;
    }

    label {
      margin-top: 20px;
      display: block;
    }

    span {
      color: red;
    }

    input {
      color: $text-grey2;
      border: 1px solid $text-grey4;
      padding: 12px 10px;
      width: 100%;
      font-size: $fs-xm;
      background: $bg-grey1;
      margin-top: 5px;
    }

    .register_password {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      input {
      }
    }

    .register_gender {
      legend {
        font-size: $fs-2;
        font-weight: $fw-7;
        display: inline;
        margin-top: 20px;
      }
      .register_radio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .register_radio_item {
          display: grid;
          grid-template-columns: 1fr 4fr;

          label {
            margin: 0;
          }

          input {
            margin: 0;
          }
        }
      }
    }
    button {
      margin-top: 20px;
      color: $white;
      font-size: $fs-1;
      font-weight: $fw-7;
      border: none;
      background-color: $green;
      padding: 10px 25px;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background-color: $bg-main;
      }
    }
  }
}
