@import './base/base';

@import './helpers/animation';
@import './helpers/mixin';
@import './helpers/variable';

@import "./pages/header";
@import "./pages/caurousel";
@import "./pages/service";
@import "./pages/banner";



@import './pages/product';
@import './pages/product-lib';


@import "./pages/comment";
@import "./pages/blog";
@import "./pages/subscribe";
@import "./pages/footer";

// @import "./pages/register";
@import "./pages/backtotop";