<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- TOASTIFY -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <section class="register">
      <div class="container">
        <div class="register_window">
          <h2>Registration Form</h2>
          <label for="name">Your Name</label>
          <input id="name" type="text" placeholder="Enter Your Full Name*" />
          <label for="phone">Your Phone Number</label>
          <input
            id="phone"
            type="text"
            placeholder="Enter Your Phone Number*"
          />
          <label for="email">Your Email</label>
          <input id="email" type="text" placeholder="Enter Your Email*" />

          <label for="password">Your Password</label>
          <div class="register_password">
            <input
              id="password"
              type="text"
              placeholder="Enter Your Password*"
            />
            <input
              id="repeatPassword"
              type="text"
              placeholder="Repeat Your Password*"
            />
          </div>
          <div class="register_gender">
            <legend>Select Your Gender</legend>
            <div class="register_radio">
              <div class="register_radio_item">
                <input type="radio" id="gender" name="gender" value="true" />
                <label for="male">Male</label>
              </div>
              <div class="register_radio_item">
                <input type="radio" id="gender" name="gender" value="false" />
                <label for="female">Female</label>
              </div>
            </div>
          </div>
          <button id="register_btn">Register</button>
        </div>
      </div>
    </section>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- TOASTIFY JS -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- AXIOUS JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
      integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- REGISTER JS -->
    <script src="../controllers/register.js"></script>
  </body>
</html>
