#scroll-top {
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 9999;
  transition: 0.4s;
  border-radius: 50%;
  background-color: #87b106;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: $white;
  opacity: 0;
  i {
    line-height: 50px;
    color: #fff;
    font-size: 25px;
  }
  :hover{
    background: #d26b31;
    border-radius: 50%;

    width: 50px;
  }
}
