.carousel-head {
  .carousel {
    .carousel-control-prev{
        // left: -60px;
        width: 8%;
    } 
    .carousel-control-next{
        // right:  -60px;
    width: 8%;

    }
    .carousel-inner {
      .carousel-item {
        img {
        }
        .carousel-caption {
          position: absolute;
          //   right: 15%;
          bottom: 60px;
          left: -41%;
          //   padding-top: 1.25rem;
          //   padding-bottom: 1.25rem;
          color: #fff;
          //   text-align: center;
          .slide-title {
            font-size: 160px;
            font-weight: 900;
            line-height: 1;
            color: #faec07;
          }
          .slide-subtitle {
            font-size: 60px;
            font-weight: 500;
            line-height: 1.1;
            color: #fff;
            // text-align: left;
            
          }
          a {
            margin-top: 40px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            padding: 15px 30px;
            background-color: #222222;
            border-radius: 50px;
          }
        }
      }
    }
  }
}
