.service {
  //   margin-top: -30px;
  position: relative;
  top: -30px;
  z-index: 1111;
  @media screen and (max-width: 992px) {
    position: relative;
    top: 30px;
    z-index: 1111;
  }
  .service-content {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .policy-block {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .policy-icon {
          ::after {
            opacity: 1;
            visibility: visible;
            animation: spin 5s infinite linear;
          }
        }
      }
      padding: 80px 15px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      transition: 0.4s;
      .policy-icon {
        color: #fff;
        font-size: 40px;
        width: 80px;
        height: 80px;
        margin: auto;
        line-height: 84px;
        border-radius: 50%;
        display: block;
        text-align: center;
        background-color: #87b106;
        position: relative;
        ::after {
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          content: "";
          position: absolute;
          border: 2px dashed #87b106;
          top: -5px;
          left: -5px;
          border-radius: 50%;
          transition: 0.4s;
          opacity: 0;
        }
        i {
          font-size: 36px;
        }
      }
      .policy-text {
        margin-top: 42px;
        .policy-title {
          font-weight: 400;
          margin-bottom: 20px;
          font-size: 25px;
        }
        .policy-desc {
          font-size: 18px;
          line-height: 1.2;
          color: #777777;
        }
      }
    }
  }
}
