.subscribe {
  background-color: $bg-main;
  padding: 45px 0;
  border-bottom: 1px solid #2f2f2f;
  text-align: center;
  h2 {
    font-weight: $fw-8;
    padding-bottom: 24px;
    color: white;
    font-size: $fs-3;
  }

  .subscribe_email {
    input {
      height: 50px;
      color: $text-grey3;
      width: 100%;
      padding: 0 20px;
      background-color: $bg-grey;
      border-radius: 50px;
      border: 2px solid #3c3c3c;
      margin-right: 20px;
      max-width: 500px;
    }
    button {
      margin-top: 20px;
      color: #fff;
      font-size: 20px;
      height: 50px;
      font-weight: $fw-7;
      padding: 0 35px;
      border-radius: 50px;
      background-color: $green;
      transition: all 0.5s;
      border: none;

      &:hover {
        background-color: #333333;
        // border: none;
      }
    }
  }
  p {
    color: $text-grey4;
    padding-top: 20px;
  }
}
