// BIẾN MÀU SẮC
$bg-main: #1a1a1a;
$bg-grey: #262626;
$bg-grey1: #f7f7f7;

$green: #87b106;
$white: white;
$text-grey1: #777777;
$text-grey2: #555555;
$text-grey3: #959595;
$text-grey4: #999999;

// BIẾN FONT SIZE
$fs-xm: 14px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 28px;
$fs-5: 32px;

//BIẾN FONT WEIGHT:
$fw-4: 400;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;
